*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    padding:2rem;
    border-radius: 2rem;
    min-height:45vh;
    width: 75vh;
}
form{
    margin: 2rem;
}
form select,button,input{
    width: 100%;
    border:none;
    outline:none;
    border-radius: 0.5rem;
}
form input{
    border:1px solid lightgray;
    font-size:1rem;
    height:3rem;
    margin:0.5rem 0 1rem 0;
}
.dropdown{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-bottom: 1rem;
}
.frommmm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:4rem;
}
.tooo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:4rem;
}
.select-container img{
    width: 2rem;
    margin:0.5rem 1rem 0.5rem 1rem;
}
.msg{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
form button{
    height: 2rem;

}